.idea/
.DS_Store
build/
dist/
extra/


# Python
__pycache__/
*.py[cod]
*$py.class
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
Pipfile.lock
poetry.lock
.env
.venv/
env/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
